<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>374568079675-jtsau26n5j71mdbdvb0qijfqitttg7sv.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.374568079675-jtsau26n5j71mdbdvb0qijfqitttg7sv</string>
	<key>API_KEY</key>
	<string>AIzaSyDMDBYiMyB2LO1T9ObiJb6PKPAX3tfMoeE</string>
	<key>GCM_SENDER_ID</key>
	<string>374568079675</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.BrevinB.LevelUpMeds</string>
	<key>PROJECT_ID</key>
	<string>levelupmeds</string>
	<key>STORAGE_BUCKET</key>
	<string>levelupmeds.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:374568079675:ios:d73b071cd1709f0342671e</string>
</dict>
</plist>